*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.result {
  display: flex;
  flex-direction: column;
  width: 711px;
  min-height: 456px;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  overflow: hidden; /* чтобы ничего не выходило за пределы */
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* растягивает видео, сохраняя пропорции */
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 95%;
  text-transform: uppercase;
  color: inherit;
}

.content__accent {
  color: #545050;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 1140px;
  height: 534px;
  gap: 30px;
}

.content__details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  gap: 21px;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 298px;
  overflow-y: auto; /* вертикальная прокрутка при переполнении */
  padding-right: 3px; /* отступ справа для скроллбара */
  padding-left: 2px;
  padding-top: 2px;
}

.content__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  min-height: auto;
  gap: 30px;
}

.content__list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  min-height: auto;
}

.content__card-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  text-decoration: none;
}

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-underline-offset: 1px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
  flex-grow: 1;
  width: 194px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  overflow: hidden; /* скрываем лишний текст */
  text-overflow: ellipsis; /* добавляем "…" */
  white-space: nowrap; /* запрещаем перенос строк */
  max-width: 100%; /* ограничиваем ширину контейнера */
}

.content__video-card-description {
  line-height: 16.2px;
  color: #fff;
  -webkit-line-clamp: 4; /* ограничение до 4 строк */
  line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.button {
  display: flex;
  background-color: transparent;
  color: inherit;
  border: 1px solid #fff;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  justify-content: center;
  padding: 6px 0px;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.more-button {
  width: 100%;
  margin-bottom: 2px;
}

.more-button:hover {
  text-decoration: underline;
}

.search-form__submit-button {
  width: 194px;
}

.search-form__submit-button:hover {
  text-decoration: underline;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* распределяем по ширине */
  align-items: flex-end; /* прижимаем к низу */
  width: 100%;
  min-height: auto;
  gap: 40px;
}

.search-form__fieldset-title {
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 5px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: none;
  width: auto;
}

.search-form__textfield {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: transparent;
  border: none;
  width: 225px;
  border-top: 1px solid #ccc; /* линия сверху */
  border-bottom: 1px solid #ccc; /* линия снизу */
  color: inherit;
  appearance: none;
  letter-spacing: -0.2px;
}

.search-form__textfield:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding-bottom: 5px;
}

.search-form__checkbox-list .search-form__label:hover {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  border: none;
  width: fit-content;
}

.search-form__checkbox:focus {
  outline: none;
}

.search-form__label:has(.search-form__checkbox:focus-visible),
.search-form__label:has(.search-form__textfield:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 2px;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
  padding: 1px;
  cursor: pointer;
  appearance: none; /* убираем стандартный стиль чекбокса */
}

.search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  background-color: #fff;
  opacity: 0;
  width: 15px;
  height: 15px;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1; /* становится видимым при выборе чекбокса */
}

.cards-list-item-template {
  display: flex;
  flex-direction: row;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__card-link_current:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.result__video-container,
.content__list-container {
  position: relative; /* для позиционирования прелоадера внутри */
}

.preloader {
  top: 211px;
  left: 30px;
  z-index: 1; /* Чтобы быть поверх контента */
}
